.mat-card-content{
    font-size: 1.2em;
    text-align: center;
}
mat-card-title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}