.mat-card-content{
    font-size: 1.2em;
    text-align: center;
}
form{
    text-align: center;
}
input{
    font-size: 1em;
    margin-top: 20px;
}
img{
    width: 100px;
    height: 100px;
}
mat-card-title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}